.navbar-brand img
{
  max-height: 40px;
}

.btn-outline-success 
{
    color: black;
    background-color: transparent;
    background-image: none;
    border-color: rgb(7, 0, 68);
}

.btn-outline-success:hover 
{

	background-color: rgb(7, 0, 68);
}
.form-control
{
  border: 1px solid rgb(7, 0, 68);

}

.bg-light 

	{
      background-color: #DFF2FF !important;
	}

.btn-primary {

	color: rgb(7, 0, 68);
    background-color: transparent;
    background-image: none;
    border-color:rgb(7, 0, 68);
}

.btn-primary:hover{
 
 background-color: rgb(7, 0, 68);
}

/*header 
{
	background-image:url(../img/goku.jpg);
	min-height: 70vh;
}
*/

header .row
{
   min-height: 70vh;
   background-image: url(../img/2018_Ferrari_back.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment:  fixed;
   /*align-items :center;*/
   color:white;
   -webkit-clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 86%);
   clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 86%);
}

header .news 
{

	background-color: rgba(0,0,0,0.5);
	min-height:70vh;
	

}

header h1
{
  font-family: 'Kurale', serif;
  margin-left: 20px;
}

header h2
{

	font-family: 'Dancing Script', cursive;
	margin-bottom: 60px;
}

header .phrase 
{
   display:flex;
   min-height: 70vh;
   align-items:flex-end;
   justify-content : flex-end;
}


@media (max-width :768px)
{
  header .phrase {

    display:none;
  }
}

/*#serv .media span{

   color: #d39e00;
}

*/

#serv .media span
{

  width:4rem;
  text-align: center;
}

#serv .media
{

  padding : 0.5rem 1rem;
  cursor: grab ;
  border-radius: 18px;
  transition: all .8s ease-in-out;
  
}

#serv .media:hover
{

  background-color: rgba(223,242,255,0.7);


}

.image

{
  
   min-height: 70vh;
   background-image:url(../img/rng\ inter.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment:  fixed;
   /*align-items :center;*/

}

.recommand
{  

  min-height:calc(100vh - 40px);

  background-color: #150183;
}

.recommand span

{  
  color : rgba(223,242,255);

  font-size: 5rem;
}

.recommand h5
{
  font-size:2rem;
  color:rgba(223,242,255);
}


#contact

{
   background-image:url(../img/FORD);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment:  fixed;
   /*align-items :center;*/
   min-height:calc(100vh - 66px);
}

#contact .row
{

  min-height: calc(100vh - 66px);
}

.form 
{

  background-color: rgba(255,255,255,.7);
  padding: 2rem 1rem;
  margin-top: 60px;
}

footer 

{

  background-color: #150183;
  background-color:
  color : black;
  padding-top: 2rem;

}


footer a 
{

  color : rgb(255, 255, 255);
  font-size: 2rem;
  transition: all .2s ease-in-out;

}

footer a:hover
{

  color:rgb(0, 0, 0);
  text-decoration: none;
}
.col-12 p{
  color: white;

}
.copyright{
  color: white;
}
